*{
    padding:0px;
    margin:0px;
}
body {
    width: 100%;
    height: 100%;
}
.topnav {
    overflow: hidden;
    background-color: darkgrey;
    position: relative;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #1d242a;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #1d242a;
    color: white;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #1d242a;
    color: white;
  }
.header {
    top: 0;
    left: 0;
    background: url(img/donutsmain.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    background-position: top;
    position: relative;
}
.section1{
  background-image: url("img/inside3.jpg");
  opacity: 100%;
}
.text1{
    text-transform: uppercase;
    color: lightgray;
    display: inline-block;
    text-align: center;
    top: 45%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    
  }
.text2 {
  text-transform: uppercase;
  color: lightgray;
  display: inline-block;
  text-align: center;
  top: 55%;
  left:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    
}

.menugrid {
  max-width: 100%;
  margin: 0 auto; 
  margin-left: 6rem;
  height: 95%;
}
  .menugrid:not(:last-child) {
    margin-bottom: 8rem; }
  .menugrid::after {
    content: "";
    display: table;
    clear: both; }
  .menugrid [class^="menu"] {
    float: left;
    text-align: center; }
    .menugrid [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .menugrid .menu1 {
    width: calc((100% - 6rem) / 2); 
    margin-bottom: 1rem;
  }
  .menugrid .menu2 {
    width: calc((100% - 6rem) / 2); 
  margin-left: 1rem;}

.IL {
  text-align: center;
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  background-color: darkgray;
}
.wood{
  background-image: url("img/wood_textures_gradient_1920x1200.jpg");
  opacity: 100%;
  position: relative;
}
.inside {
  max-width: 100%;
  margin: 0 auto; 
  margin-left: 6rem;}
  .inside:not(:last-child) {
    margin-bottom: 8rem; }
  .inside::after {
    content: "";
    display: table;
    clear: both; }
  .inside [class^="col-"] {
    background-color: orangered;
    float: left;
    height: 5rem;
    text-align: center;
    font-size: 2rem; }
    .inside [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .inside .inside1 {
    width: calc((100% - 6rem) / 2); 
    border: solid black;
  }
  .inside .inside2 {
    width: calc((100% - 6rem) / 2); 
    border: solid black;

  }
  .inside .inside3 {
    width: calc((100% - 6rem) / 2); 
    border: solid black;

  }
  .inside .inside4 {
    width: calc((100% - 6rem) / 2); 
    border: solid black;

  }
.footer {
    padding: 1em 0 1em 0 ;
    background-color: #1d242a;
}
.copy {
    font-size: 30px;
    color: white;
    text-align: center;
}
.facebook {
    font-size: 30px;
    color: white;
    text-align: center;
}
.Menu {
  text-align: center;
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  background-color: darkgray;
}
.location {
  text-align: center;
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  background-color: darkgray;
}
.container {
  background-image: url("img/inside3.jpg");
  opacity: 100%;
  height: 20rem;
  background-color: rgb(146, 134, 134);
  color: black;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  position: relative;

}
.bio{
  margin-top: 5rem;
  font-weight: bold;
  font-size: 1.5rem;
}